USE [master]
GO
/****** Object:  Database [RENT]    Script Date: 28-05-2021 01:31:00 PM ******/
CREATE DATABASE [RENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\RENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\RENT_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RENT]
GO
/****** Object:  Table [dbo].[addhome]    Script Date: 28-05-2021 01:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addhome](
	[hid] [int] NULL,
	[category] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[houseno] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[amount] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[image] [image] NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking2]    Script Date: 28-05-2021 01:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking2](
	[bid] [int] NULL,
	[hid] [int] NULL,
	[type] [varchar](50) NULL,
	[houseno] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[amount] [varchar](50) NULL,
	[semail] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[cusid] [int] NULL,
	[name] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newadmin]    Script Date: 28-05-2021 01:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newadmin](
	[cusid] [int] NULL,
	[name] [varchar](60) NULL,
	[address] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[pin] [varchar](50) NULL,
	[email] [varchar](60) NULL,
	[pwd] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newuser]    Script Date: 28-05-2021 01:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newuser](
	[cusid] [int] NULL,
	[fname] [varchar](60) NULL,
	[date] [varchar](60) NULL,
	[address] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[pin] [varchar](50) NULL,
	[email] [varchar](60) NULL,
	[pwd] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[booking2] ([bid], [hid], [type], [houseno], [address], [amount], [semail], [email], [cusid], [name], [mobile], [city], [status]) VALUES (102, 102, N'2bhk', N'123', N'2/11, royal street. fairlands, Salem', N'20000', N'malathi3473@gmail.com', N'poojachandru.99@gmail.com', 102, N'Subha', N'9443227879', N'Salem', N'reject')
INSERT [dbo].[booking2] ([bid], [hid], [type], [houseno], [address], [amount], [semail], [email], [cusid], [name], [mobile], [city], [status]) VALUES (101, 101, N'2bhk', N'001', N'No.1, first floor, Royal Apartment,Salem', N'15000', N'malathi3473@gmail.com', N'dharshinichandru.04@gmail.com', 101, N'dharshini', N'09965935046', N'SALEM', N'Accept')
GO
INSERT [dbo].[newadmin] ([cusid], [name], [address], [mobile], [city], [pin], [email], [pwd]) VALUES (101, N'Pooja Chandrasekaran', N'36/11 OBULI STREET, GUGAI', N'08608127288', N'SALEM', N'636006', N'poojac0106@gmail.com', N'pooja010699')
INSERT [dbo].[newadmin] ([cusid], [name], [address], [mobile], [city], [pin], [email], [pwd]) VALUES (102, N'Malathi', N'Plot no.9, rajappa garden', N'9865451015', N'Salem', N'636001', N'malathi3473@gmail.com', N'pooja010699')
GO
INSERT [dbo].[newuser] ([cusid], [fname], [date], [address], [mobile], [city], [pin], [email], [pwd]) VALUES (102, N'Subha', N'28-05-2021 12:00:00 AM', N'no.10 abc street, fairlands', N'9443227879', N'Salem', N'636007', N'poojachandru.99@gmail.com', N'123')
INSERT [dbo].[newuser] ([cusid], [fname], [date], [address], [mobile], [city], [pin], [email], [pwd]) VALUES (101, N'dharshini', N'27-05-2021 12:00:00 AM', N'295/2, Vivekananda street, M.G.Road, new fairlands', N'09965935046', N'SALEM', N'636016', N'dharshinichandru.04@gmail.com', N'123')
GO
USE [master]
GO
